@font-face {
	font-family: 'MyFont';
	src: url('./assets/CutiveMono-Regular.ttf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

.hello {
	color: yellowgreen;
	font-family: 'MyFont';
	background: url('./assets/icon.png');
}